@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}

@media (min-width: 1220px) {
  /* Horizontal */
  .uk-grid {
    margin-left: -35px;
  }

  .uk-grid > * {
    padding-left: 35px;
  }

  /* Vertical */
  .uk-grid + .uk-grid,
  .uk-grid-margin,
  .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 35px;
  }
}
@media (min-width: 960px) {

    /* Horizontal */
    .uk-grid-large {
      margin-left: -35px;
    }
  
    .uk-grid-large>* {
      padding-left: 35px;
    }
  
    /* Vertical */
    .uk-grid-large+.uk-grid-large,
    .uk-grid-large-margin,
    .uk-grid-large>*>.uk-panel+.uk-panel {
      margin-top: 35px;
    }
  }
  
  /* Extra Large screens */
  @media (min-width: 1220px) {
  
    /* Horizontal */
    .uk-grid-large {
      margin-left: -50px;
    }
  
    .uk-grid-large>* {
      padding-left: 50px;
    }
  
    /* Vertical */
    .uk-grid-large+.uk-grid-large,
    .uk-grid-large-margin,
    .uk-grid-large>*>.uk-panel+.uk-panel {
      margin-top: 50px;
    }
  }

  /* Tablet and bigger */
@media (min-width: 880px) {
    .uk-grid-divider>[class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) {
      border-left: 1px solid #dddddd;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
    .uk-grid-divider>[class*='uk-width-large-']:not(.uk-width-large-1-1):nth-child(n+2) {
      border-left: 1px solid #dddddd;
    }
  }
  
  /* Large screen and bigger */
  @media (min-width: 1220px) {
  
    /*
       * Large gutter
       */
    .uk-grid-divider:not(:empty) {
      margin-left: -35px;
      margin-right: -35px;
    }
  
    .uk-grid-divider>* {
      padding-left: 35px;
      padding-right: 35px;
    }
  
    .uk-grid-divider:empty {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }

  @media (min-width: 480px) {
  .uk-grid-width-small-1-1>* {
    width: 100%;
  }

  .uk-grid-width-small-1-2>* {
    width: 50%;
  }

  .uk-grid-width-small-1-3>* {
    width: 33.333%;
  }

  .uk-grid-width-small-1-4>* {
    width: 25%;
  }

  .uk-grid-width-small-1-5>* {
    width: 20%;
  }

  .uk-grid-width-small-1-6>* {
    width: 16.666%;
  }

  .uk-grid-width-small-1-10>* {
    width: 10%;
  }
}

/* Tablet and bigger */
@media (min-width: 880px) {
  .uk-grid-width-medium-1-1>* {
    width: 100%;
  }

  .uk-grid-width-medium-1-2>* {
    width: 50%;
  }

  .uk-grid-width-medium-1-3>* {
    width: 33.333%;
  }

  .uk-grid-width-medium-1-4>* {
    width: 25%;
  }

  .uk-grid-width-medium-1-5>* {
    width: 20%;
  }

  .uk-grid-width-medium-1-6>* {
    width: 16.666%;
  }

  .uk-grid-width-medium-1-10>* {
    width: 10%;
  }
}

/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-grid-width-large-1-1>* {
    width: 100%;
  }

  .uk-grid-width-large-1-2>* {
    width: 50%;
  }

  .uk-grid-width-large-1-3>* {
    width: 33.333%;
  }

  .uk-grid-width-large-1-4>* {
    width: 25%;
  }

  .uk-grid-width-large-1-5>* {
    width: 20%;
  }

  .uk-grid-width-large-1-6>* {
    width: 16.666%;
  }

  .uk-grid-width-large-1-10>* {
    width: 10%;
  }
}

/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-grid-width-xlarge-1-1>* {
    width: 100%;
  }

  .uk-grid-width-xlarge-1-2>* {
    width: 50%;
  }

  .uk-grid-width-xlarge-1-3>* {
    width: 33.333%;
  }

  .uk-grid-width-xlarge-1-4>* {
    width: 25%;
  }

  .uk-grid-width-xlarge-1-5>* {
    width: 20%;
  }

  .uk-grid-width-xlarge-1-6>* {
    width: 16.666%;
  }

  .uk-grid-width-xlarge-1-10>* {
    width: 10%;
  }
}
/* Phone landscape and bigger */
@media (min-width: 480px) {

    /* Whole */
    .uk-width-small-1-1 {
      width: 100%;
    }
  
    /* Halves */
    .uk-width-small-1-2,
    .uk-width-small-2-4,
    .uk-width-small-3-6,
    .uk-width-small-5-10 {
      width: 50%;
    }
  
    /* Thirds */
    .uk-width-small-1-3,
    .uk-width-small-2-6 {
      width: 33.333%;
    }
  
    .uk-width-small-2-3,
    .uk-width-small-4-6 {
      width: 66.666%;
    }
  
    /* Quarters */
    .uk-width-small-1-4 {
      width: 25%;
    }
  
    .uk-width-small-3-4 {
      width: 75%;
    }
  
    /* Fifths */
    .uk-width-small-1-5,
    .uk-width-small-2-10 {
      width: 20%;
    }
  
    .uk-width-small-2-5,
    .uk-width-small-4-10 {
      width: 40%;
    }
  
    .uk-width-small-3-5,
    .uk-width-small-6-10 {
      width: 60%;
    }
  
    .uk-width-small-4-5,
    .uk-width-small-8-10 {
      width: 80%;
    }
  
    /* Sixths */
    .uk-width-small-1-6 {
      width: 16.666%;
    }
  
    .uk-width-small-5-6 {
      width: 83.333%;
    }
  
    /* Tenths */
    .uk-width-small-1-10 {
      width: 10%;
    }
  
    .uk-width-small-3-10 {
      width: 30%;
    }
  
    .uk-width-small-7-10 {
      width: 70%;
    }
  
    .uk-width-small-9-10 {
      width: 90%;
    }
  }
  
  /* Tablet and bigger */
  @media (min-width: 880px) {
  
    /* Whole */
    .uk-width-medium-1-1 {
      width: 100%;
    }
  
    /* Halves */
    .uk-width-medium-1-2,
    .uk-width-medium-2-4,
    .uk-width-medium-3-6,
    .uk-width-medium-5-10 {
      width: 50%;
    }
  
    /* Thirds */
    .uk-width-medium-1-3,
    .uk-width-medium-2-6 {
      width: 33.333%;
    }
  
    .uk-width-medium-2-3,
    .uk-width-medium-4-6 {
      width: 66.666%;
    }
  
    /* Quarters */
    .uk-width-medium-1-4 {
      width: 25%;
    }
  
    .uk-width-medium-3-4 {
      width: 75%;
    }
  
    /* Fifths */
    .uk-width-medium-1-5,
    .uk-width-medium-2-10 {
      width: 20%;
    }
  
    .uk-width-medium-2-5,
    .uk-width-medium-4-10 {
      width: 40%;
    }
  
    .uk-width-medium-3-5,
    .uk-width-medium-6-10 {
      width: 60%;
    }
  
    .uk-width-medium-4-5,
    .uk-width-medium-8-10 {
      width: 80%;
    }
  
    /* Sixths */
    .uk-width-medium-1-6 {
      width: 16.666%;
    }
  
    .uk-width-medium-5-6 {
      width: 83.333%;
    }
  
    /* Tenths */
    .uk-width-medium-1-10 {
      width: 10%;
    }
  
    .uk-width-medium-3-10 {
      width: 30%;
    }
  
    .uk-width-medium-7-10 {
      width: 70%;
    }
  
    .uk-width-medium-9-10 {
      width: 90%;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
  
    /* Whole */
    .uk-width-large-1-1 {
      width: 100%;
    }
  
    /* Halves */
    .uk-width-large-1-2,
    .uk-width-large-2-4,
    .uk-width-large-3-6,
    .uk-width-large-5-10 {
      width: 50%;
    }
  
    /* Thirds */
    .uk-width-large-1-3,
    .uk-width-large-2-6 {
      width: 33.333%;
    }
  
    .uk-width-large-2-3,
    .uk-width-large-4-6 {
      width: 66.666%;
    }
  
    /* Quarters */
    .uk-width-large-1-4 {
      width: 25%;
    }
  
    .uk-width-large-3-4 {
      width: 75%;
    }
  
    /* Fifths */
    .uk-width-large-1-5,
    .uk-width-large-2-10 {
      width: 20%;
    }
  
    .uk-width-large-2-5,
    .uk-width-large-4-10 {
      width: 40%;
    }
  
    .uk-width-large-3-5,
    .uk-width-large-6-10 {
      width: 60%;
    }
  
    .uk-width-large-4-5,
    .uk-width-large-8-10 {
      width: 80%;
    }
  
    /* Sixths */
    .uk-width-large-1-6 {
      width: 16.666%;
    }
  
    .uk-width-large-5-6 {
      width: 83.333%;
    }
  
    /* Tenths */
    .uk-width-large-1-10 {
      width: 10%;
    }
  
    .uk-width-large-3-10 {
      width: 30%;
    }
  
    .uk-width-large-7-10 {
      width: 70%;
    }
  
    .uk-width-large-9-10 {
      width: 90%;
    }
  }
  
  /* Large screen and bigger */
  @media (min-width: 1220px) {
  
    /* Whole */
    .uk-width-xlarge-1-1 {
      width: 100%;
    }
  
    /* Halves */
    .uk-width-xlarge-1-2,
    .uk-width-xlarge-2-4,
    .uk-width-xlarge-3-6,
    .uk-width-xlarge-5-10 {
      width: 50%;
    }
  
    /* Thirds */
    .uk-width-xlarge-1-3,
    .uk-width-xlarge-2-6 {
      width: 33.333%;
    }
  
    .uk-width-xlarge-2-3,
    .uk-width-xlarge-4-6 {
      width: 66.666%;
    }
  
    /* Quarters */
    .uk-width-xlarge-1-4 {
      width: 25%;
    }
  
    .uk-width-xlarge-3-4 {
      width: 75%;
    }
  
    /* Fifths */
    .uk-width-xlarge-1-5,
    .uk-width-xlarge-2-10 {
      width: 20%;
    }
  
    .uk-width-xlarge-2-5,
    .uk-width-xlarge-4-10 {
      width: 40%;
    }
  
    .uk-width-xlarge-3-5,
    .uk-width-xlarge-6-10 {
      width: 60%;
    }
  
    .uk-width-xlarge-4-5,
    .uk-width-xlarge-8-10 {
      width: 80%;
    }
  
    /* Sixths */
    .uk-width-xlarge-1-6 {
      width: 16.666%;
    }
  
    .uk-width-xlarge-5-6 {
      width: 83.333%;
    }
  
    /* Tenths */
    .uk-width-xlarge-1-10 {
      width: 10%;
    }
  
    .uk-width-xlarge-3-10 {
      width: 30%;
    }
  
    .uk-width-xlarge-7-10 {
      width: 70%;
    }
  
    .uk-width-xlarge-9-10 {
      width: 90%;
    }
  }
  
  /* Sub-object: `uk-push-*` and `uk-pull-*`
   ========================================================================== */
  /*
   * Source ordering
   * Works only with `uk-width-medium-*`
   */
  /* Tablet and bigger */
  @media (min-width: 880px) {
  
    [class*='uk-push-'],
    [class*='uk-pull-'] {
      position: relative;
    }
  
    /*
       * Push
       */
    /* Halves */
    .uk-push-1-2,
    .uk-push-2-4,
    .uk-push-3-6,
    .uk-push-5-10 {
      left: 50%;
    }
  
    /* Thirds */
    .uk-push-1-3,
    .uk-push-2-6 {
      left: 33.333%;
    }
  
    .uk-push-2-3,
    .uk-push-4-6 {
      left: 66.666%;
    }
  
    /* Quarters */
    .uk-push-1-4 {
      left: 25%;
    }
  
    .uk-push-3-4 {
      left: 75%;
    }
  
    /* Fifths */
    .uk-push-1-5,
    .uk-push-2-10 {
      left: 20%;
    }
  
    .uk-push-2-5,
    .uk-push-4-10 {
      left: 40%;
    }
  
    .uk-push-3-5,
    .uk-push-6-10 {
      left: 60%;
    }
  
    .uk-push-4-5,
    .uk-push-8-10 {
      left: 80%;
    }
  
    /* Sixths */
    .uk-push-1-6 {
      left: 16.666%;
    }
  
    .uk-push-5-6 {
      left: 83.333%;
    }
  
    /* Tenths */
    .uk-push-1-10 {
      left: 10%;
    }
  
    .uk-push-3-10 {
      left: 30%;
    }
  
    .uk-push-7-10 {
      left: 70%;
    }
  
    .uk-push-9-10 {
      left: 90%;
    }
  
    /*
       * Pull
       */
    /* Halves */
    .uk-pull-1-2,
    .uk-pull-2-4,
    .uk-pull-3-6,
    .uk-pull-5-10 {
      left: -50%;
    }
  
    /* Thirds */
    .uk-pull-1-3,
    .uk-pull-2-6 {
      left: -33.333%;
    }
  
    .uk-pull-2-3,
    .uk-pull-4-6 {
      left: -66.666%;
    }
  
    /* Quarters */
    .uk-pull-1-4 {
      left: -25%;
    }
  
    .uk-pull-3-4 {
      left: -75%;
    }
  
    /* Fifths */
    .uk-pull-1-5,
    .uk-pull-2-10 {
      left: -20%;
    }
  
    .uk-pull-2-5,
    .uk-pull-4-10 {
      left: -40%;
    }
  
    .uk-pull-3-5,
    .uk-pull-6-10 {
      left: -60%;
    }
  
    .uk-pull-4-5,
    .uk-pull-8-10 {
      left: -80%;
    }
  
    /* Sixths */
    .uk-pull-1-6 {
      left: -16.666%;
    }
  
    .uk-pull-5-6 {
      left: -83.333%;
    }
  
    /* Tenths */
    .uk-pull-1-10 {
      left: -10%;
    }
  
    .uk-pull-3-10 {
      left: -30%;
    }
  
    .uk-pull-7-10 {
      left: -70%;
    }
  
    .uk-pull-9-10 {
      left: -90%;
    }
  }

  /* Only tablets and desktop */
@media (min-width: 880px) {
    .uk-width-medium-1-12 {
      width: 8.333%;
    }
  
    .uk-width-medium-2-12 {
      width: 16.666%;
    }
  
    .uk-width-medium-3-12 {
      width: 25%;
    }
  
    .uk-width-medium-4-12 {
      width: 33.333%;
    }
  
    .uk-width-medium-5-12 {
      width: 41.666%;
    }
  
    .uk-width-medium-6-12 {
      width: 50%;
    }
  
    .uk-width-medium-7-12 {
      width: 58.333%;
    }
  
    .uk-width-medium-8-12 {
      width: 66.666%;
    }
  
    .uk-width-medium-9-12 {
      width: 75%;
    }
  
    .uk-width-medium-10-12 {
      width: 83.333%;
    }
  
    .uk-width-medium-11-12 {
      width: 91.666%;
    }
  }
  
  /* Only desktop */
  @media (min-width: 960px) {
    .uk-width-large-1-12 {
      width: 8.333%;
    }
  
    .uk-width-large-2-12 {
      width: 16.666%;
    }
  
    .uk-width-large-3-12 {
      width: 25%;
    }
  
    .uk-width-large-4-12 {
      width: 33.333%;
    }
  
    .uk-width-large-5-12 {
      width: 41.666%;
    }
  
    .uk-width-large-6-12 {
      width: 50%;
    }
  
    .uk-width-large-7-12 {
      width: 58.333%;
    }
  
    .uk-width-large-8-12 {
      width: 66.666%;
    }
  
    .uk-width-large-9-12 {
      width: 75%;
    }
  
    .uk-width-large-10-12 {
      width: 83.333%;
    }
  
    .uk-width-large-11-12 {
      width: 91.666%;
    }
  }

  /* Phone landscape and bigger */
@media (min-width: 880px) {
    .uk-block {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

/* Large screen and bigger */
@media (min-width: 1220px) {
    .uk-panel+.uk-panel-divider {
      margin-top: 70px !important;
    }
  
    .uk-panel+.uk-panel-divider:before {
      top: -35px;
    }
  }

/* Tablets and bigger */
@media (min-width: 880px) {
    .uk-block-large {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
    .uk-block-large {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

/* Tablet and bigger */
@media (min-width: 880px) {
    .uk-comment-list .uk-comment+ul {
      padding-left: 100px;
    }
  }

/* Tablet and bigger */
@media (min-width: 880px) {

    .uk-tab-left,
    .uk-tab-right {
      border-bottom: none;
    }
  
    .uk-tab-left>li,
    .uk-tab-right>li {
      margin-bottom: 0;
      float: none;
    }
  
    .uk-tab-left>li>a,
    .uk-tab-right>li>a {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  
    .uk-tab-left>li:nth-child(n+2)>a,
    .uk-tab-right>li:nth-child(n+2)>a {
      margin-left: 0;
      margin-top: 5px;
    }
  
    .uk-tab-left>li.uk-active>a,
    .uk-tab-right>li.uk-active>a {
      border-color: #dddddd;
    }
  
    /*
       * Modifier: 'tab-left'
       */
    .uk-tab-left {
      border-right: 1px solid #dddddd;
    }
  
    .uk-tab-left>li {
      margin-right: -1px;
    }
  
    .uk-tab-left>li>a {
      border-bottom-width: 1px;
      border-right-width: 0;
    }
  
    .uk-tab-left>li:not(.uk-active)>a:hover,
    .uk-tab-left>li:not(.uk-active)>a:focus {
      margin-bottom: 0;
      margin-right: 1px;
      padding-bottom: 8px;
      padding-right: 11px;
    }
  
    .uk-tab-left>li.uk-active>a {
      border-right-color: transparent;
    }
  
    /*
       * Modifier: 'tab-right'
       */
    .uk-tab-right {
      border-left: 1px solid #dddddd;
    }
  
    .uk-tab-right>li {
      margin-left: -1px;
    }
  
    .uk-tab-right>li>a {
      border-bottom-width: 1px;
      border-left-width: 0;
    }
  
    .uk-tab-right>li:not(.uk-active)>a:hover,
    .uk-tab-right>li:not(.uk-active)>a:focus {
      margin-bottom: 0;
      margin-left: 1px;
      padding-bottom: 8px;
      padding-left: 11px;
    }
  
    .uk-tab-right>li.uk-active>a {
      border-left-color: transparent;
    }
  }
  /* Tablet and bigger */
@media (min-width: 880px) {
    .uk-description-list-horizontal {
      overflow: hidden;
    }
  
    .uk-description-list-horizontal>dt {
      width: 160px;
      float: left;
      clear: both;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .uk-description-list-horizontal>dd {
      margin-left: 180px;
    }
  }

  /* Tablet portrait and smaller */
@media (max-width: 959px) {

    /* Behave like `uk-form-stacked` */
    .uk-form-horizontal .uk-form-label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
    .uk-form-horizontal .uk-form-label {
      width: 200px;
      margin-top: 5px;
      float: left;
    }
  
    .uk-form-horizontal .uk-form-controls {
      margin-left: 215px;
    }
  
    /* Better vertical alignment if controls are checkboxes and radio buttons with text */
    .uk-form-horizontal .uk-form-controls-text {
      padding-top: 5px;
    }
  }


  
/* Phone landscape and bigger */
@media (min-width: 480px) {
    .uk-column-small-1-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  
    .uk-column-small-1-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  
    .uk-column-small-1-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  
    .uk-column-small-1-5 {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
    }
  
    .uk-column-small-1-6 {
      -webkit-column-count: 6;
      -moz-column-count: 6;
      column-count: 6;
    }
  }
  
  /* Tablet and bigger */
  @media (min-width: 880px) {
    .uk-column-medium-1-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  
    .uk-column-medium-1-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  
    .uk-column-medium-1-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  
    .uk-column-medium-1-5 {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
    }
  
    .uk-column-medium-1-6 {
      -webkit-column-count: 6;
      -moz-column-count: 6;
      column-count: 6;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
    .uk-column-large-1-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  
    .uk-column-large-1-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  
    .uk-column-large-1-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  
    .uk-column-large-1-5 {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
    }
  
    .uk-column-large-1-6 {
      -webkit-column-count: 6;
      -moz-column-count: 6;
      column-count: 6;
    }
  }
  
  /* Large screen and bigger */
  @media (min-width: 1220px) {
    .uk-column-xlarge-1-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  
    .uk-column-xlarge-1-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  
    .uk-column-xlarge-1-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  
    .uk-column-xlarge-1-5 {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
    }
  
    .uk-column-xlarge-1-6 {
      -webkit-column-count: 6;
      -moz-column-count: 6;
      column-count: 6;
    }
  }


  /* Hide animated element if scrollspy is used */
@media screen {
    [data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
      opacity: 0;
    }
  }

  

/* Tablet and bigger */
@media (min-width: 880px) {

    /*
       * Horizontal gutter
       */
    .uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid {
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid>[class*='uk-width-'] {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    /*
       * Column divider
       */
    .uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid>[class*='uk-width-']:nth-child(n+2) {
      border-left: 1px solid #dddddd;
    }
  
    /*
       * Width multiplier for dropdown columns
       */
    .uk-dropdown-width-2:not(.uk-dropdown-stack) {
      width: 440px;
    }
  
    .uk-dropdown-width-3:not(.uk-dropdown-stack) {
      width: 660px;
    }
  
    .uk-dropdown-width-4:not(.uk-dropdown-stack) {
      width: 880px;
    }
  
    .uk-dropdown-width-5:not(.uk-dropdown-stack) {
      width: 1100px;
    }
  }
  
  /* Phone landscape and smaller */
  @media (max-width: 879px) {
  
    /*
       * Stack columns and take full width
       */
    .uk-dropdown-grid>[class*='uk-width-'] {
      width: 100%;
    }
  
    /*
       * Vertical gutter
       */
    .uk-dropdown-grid>[class*='uk-width-']:nth-child(n+2) {
      margin-top: 15px;
    }
  }

  /* Phone landscape and smaller */
@media (max-width: 879px) {

    /*
       * Fit in small screen
       */
    .uk-modal-dialog {
      width: auto;
      margin: 10px auto;
    }
  }

  /* Phone landscape and smaller */
@media (max-width: 879px) {
    .uk-modal-dialog-lightbox>.uk-close:first-child {
      top: -7px;
      right: -7px;
    }
  }

  /* Tablet and bigger */
@media (min-width: 880px) {
    .uk-modal-dialog-large {
      width: 930px;
    }
  }
  
  /* Large screen and bigger */
  @media (min-width: 1220px) {
    .uk-modal-dialog-large {
      width: 1130px;
    }
  }

  /* Only tablets portrait and smaller */
@media (max-width: 959px) {
    .uk-text-center-medium {
      text-align: center !important;
    }
  
    .uk-text-left-medium {
      text-align: left !important;
    }
  }
  
  /* Phone landscape and smaller */
  @media (max-width: 879px) {
    .uk-text-center-small {
      text-align: center !important;
    }
  
    .uk-text-left-small {
      text-align: left !important;
    }
  }

  /* Large screen and bigger */
@media (min-width: 1220px) {
    .uk-container {
      max-width: 1200px;
      padding: 0 35px;
    }
  }

  /* Tablet and bigger */
@media (min-width: 880px) {
    .uk-align-medium-left {
      margin-right: 20px;
      float: left;
    }
  
    .uk-align-medium-right {
      margin-left: 20px;
      float: right;
    }
  }

  /* Tablet and bigger */
@media (min-width: 880px) {
    .uk-heading-large {
      font-size: 52px;
      line-height: 64px;
    }
  }

  /* Desktop and bigger */
@media (min-width: 960px) {
    .uk-visible-small {
      display: none !important;
    }
  
    .uk-visible-medium {
      display: none !important;
    }
  
    .uk-hidden-large {
      display: none !important;
    }
  }
  
  /* Tablets portrait */
  @media (min-width: 880px) and (max-width: 959px) {
    .uk-visible-small {
      display: none !important;
    }
  
    .uk-visible-large {
      display: none !important;
    }
  
    .uk-hidden-medium {
      display: none !important;
    }
  }
  
  /* Phone landscape and smaller*/
  @media (max-width: 879px) {
    .uk-visible-medium {
      display: none !important;
    }
  
    .uk-visible-large {
      display: none !important;
    }
  
    .uk-hidden-small {
      display: none !important;
    }
  }

  
/* Phone landscape and bigger */
@media (min-width: 480px) {
    .uk-flex-order-first-small {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
  
    .uk-flex-order-last-small {
      -ms-flex-order: 99;
      -webkit-order: 99;
      order: 99;
    }
  }
  
  /* Tablet and bigger */
  @media (min-width: 880px) {
    .uk-flex-order-first-medium {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
  
    .uk-flex-order-last-medium {
      -ms-flex-order: 99;
      -webkit-order: 99;
      order: 99;
    }
  }
  
  /* Desktop and bigger */
  @media (min-width: 960px) {
    .uk-flex-order-first-large {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
  
    .uk-flex-order-last-large {
      -ms-flex-order: 99;
      -webkit-order: 99;
      order: 99;
    }
  }
  
  /* Large screen and bigger */
  @media (min-width: 1220px) {
    .uk-flex-order-first-xlarge {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
  
    .uk-flex-order-last-xlarge {
      -ms-flex-order: 99;
      -webkit-order: 99;
      order: 99;
    }
  }

  /* Only large screens */
@media (min-width: 1220px) {

    .tm-headerbar,
    .tm-navbar,
    .tm-footer {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
  
  /* Only phones */
  @media (max-width: 879px) {
    .tm-navbar {
      margin: 0 -25px 25px -25px;
      border-width: 0 0 1px 0;
    }
  
    .tm-logo-small:hover {
      text-decoration: none;
    }
  
    .tm-navbar:not(.uk-navbar-attached) {
      border-radius: 0;
    }
  }

  /* Only tablets and desktop */
@media (min-width: 880px) {
    .uk-width-medium-1-12 {
      width: 8.333%;
    }
  
    .uk-width-medium-2-12 {
      width: 16.666%;
    }
  
    .uk-width-medium-3-12 {
      width: 25%;
    }
  
    .uk-width-medium-4-12 {
      width: 33.333%;
    }
  
    .uk-width-medium-5-12 {
      width: 41.666%;
    }
  
    .uk-width-medium-6-12 {
      width: 50%;
    }
  
    .uk-width-medium-7-12 {
      width: 58.333%;
    }
  
    .uk-width-medium-8-12 {
      width: 66.666%;
    }
  
    .uk-width-medium-9-12 {
      width: 75%;
    }
  
    .uk-width-medium-10-12 {
      width: 83.333%;
    }
  
    .uk-width-medium-11-12 {
      width: 91.666%;
    }
  }
  
  /* Only desktop */
  @media (min-width: 960px) {
    .uk-width-large-1-12 {
      width: 8.333%;
    }
  
    .uk-width-large-2-12 {
      width: 16.666%;
    }
  
    .uk-width-large-3-12 {
      width: 25%;
    }
  
    .uk-width-large-4-12 {
      width: 33.333%;
    }
  
    .uk-width-large-5-12 {
      width: 41.666%;
    }
  
    .uk-width-large-6-12 {
      width: 50%;
    }
  
    .uk-width-large-7-12 {
      width: 58.333%;
    }
  
    .uk-width-large-8-12 {
      width: 66.666%;
    }
  
    .uk-width-large-9-12 {
      width: 75%;
    }
  
    .uk-width-large-10-12 {
      width: 83.333%;
    }
  
    .uk-width-large-11-12 {
      width: 91.666%;
    }
  }

  /****************CUSTOM RESPONSIVE****************/
@media (max-width: 1220px) {
    .all-statistics-wrap .item>div {
      width: 100%;
    }
  
    .all-statistics-wrap .item .info {
      text-align: center;
    }
  
    .uk-navbar-nav>li>a {
      padding: 0 14px;
    }
  
    .about-team-page-top-wrap .top-banner .inner {
      font-size: 26px;
      line-height: 38px;
    }
  
    .our-news-article .img-wrap a:after {
      left: 200%;
    }
  
    .our-news-article .img-wrap a:hover:after {
      left: -100%;
      width: 300%;
    }
  
    .achievments-block {
      width: 100%;
      left: 0;
    }
  
    .tt-achievments-wrap {
      background: none;
    }
  
    .our-awards-main-wrap {
      background: #f2f2f2;
    }
  
    .achievments-inner {
      background: #363533;
    }
  
    .va-latest-middle .name:before {
      display: none;
    }
  
    .jshop_img_description {
      display: none;
    }
  
    .tabs-switch-top li a {
      width: 100px;
    }
  
    [id*="mapplaceholder"] {
      display: none;
    }
  
    .contact-left-wrap {
      display: none;
    }
  
    .contact-right-wrap {
      width: 100%;
    }
  
    .map-wrap .contact-form:before {
      display: none;
    }
  
    .map-wrap .contact-form .aiContactSafe_contact_form_field_right {
      float: none;
    }
  
    .map-wrap .contact-form .aiContactSafe_contact_form_field_right:before {
      display: none;
    }
  
    .map-wrap .contact-form input[type="text"] {
      width: 100%;
      padding-left: 20px;
      box-sizing: border-box;
      border-width: 1px;
    }
  
    .map-wrap .contact-form input.email[type="text"] {
      width: 100%;
    }
  
    .map-wrap .contact-form textarea {
      width: 100%;
      border-width: 1px;
    }
  }
  
  @media (max-width: 980px) {
    .uk-navbar-nav>li>a {
      padding: 0 10px;
      font-size: 14px;
    }
  
    .uk-navbar-toggle {
      float: right;
      margin-top: 10px;
    }
  
    .uk-navbar-toggle:after {
      color: #ffc722;
    }
  
    .va-promo-text {
      left: 0;
    }
  
    .va-latest-middle .score .title {
      display: none;
    }
  
    .va-latest-wrap .score {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  
    .va-latest-middle .table {
      width: 150px;
      margin: 0 auto;
    }
  
    .match-list-wrap .match-list-item .location {
      display: none;
    }
  
    .about-team-page-top-wrap .top-banner .inner {
      font-size: 32px;
      line-height: 45px;
    }
  
    .tm-top-c-box.home-about {
      background-size: cover;
    }
  
    .va-about-wrap .va-about-text {
      max-width: 100%;
    }
  
    .tm-trainers-slider {
      max-width: 100%;
      padding-bottom: 90px;
    }
  
    .trainers-module {
      padding: 0 0 0 35px;
    }
  
    .donate-wrap .intro-text {
      width: 100%;
      padding: 0px 100px 0 125px;
    }
  
    .va-single-next-match,
    .va-list-next-match {
      width: 100%;
    }
  
    .match-list-wrap .match-list-item.alt {
      margin-top: 0;
    }
  
    .our-news-article .img-wrap a:after {
      left: 200%;
    }
  
    .our-news-article .img-wrap a:hover:after {
      left: -100%;
      width: 300%;
    }
  
    [id*="mapplaceholder"] {
      display: none;
    }
  
    .contact-left-wrap {
      display: none;
    }
  
    .contact-right-wrap {
      width: 100%;
    }
  
    .va-latest-middle .table .right::before {
      width: 100%;
    }
  
    .va-latest-wrap .uk-width-2-12.center {
      display: none;
    }
  
    .va-latest-wrap .name {
      padding: 20px 0;
      width: 100%;
      text-align: center;
    }
  
    .va-latest-middle .name.alt {
      text-align: center;
    }
  
    .va-latest-wrap .name .uk-clearfix {
      display: none;
    }
  
    .va-latest-middle {
      height: auto;
    }
  
    .va-promo-text {
      top: 50%;
      width: 80%;
      transform: translateY(-50%);
    }
  
    .productfull .left,
    .productfull .right {
      width: 100%;
    }
  
    .image_middle {
      float: none;
      margin: 0 auto;
    }
  
    .product-descr-wrap h1 {
      padding: 20px 0 0;
    }
  
    .head-match-wrap .va-latest-middle {
      margin: 0;
    }
  
    .va-latest-wrap .name {
      padding: 10px 0;
    }
  
    .va-latest-bottom .btn-wrap {
      padding: 0 25px 0 0;
    }
  
    .head-news-title h1 {
      line-height: 38px;
    }
  }
  
  @media (max-width: 768px) {
    .tt-gallery-top .title {
      padding-bottom: 20px;
    }
  
    .tt-gallery-top .text {
      border: none;
    }
  
    .match-list-wrap .match-list-item.alt .logo {
      display: none;
    }
  
    .product .image_block {
      text-align: center;
    }
  
    .va-promo-text {
      left: 0;
    }
  
    .donate-inner:before,
    .donate-inner:after {
      display: none;
    }
  
    .donate-wrap .intro-text {
      padding: 0px 10px 0px 35px;
    }
  
    .contact-socials li a {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 680px) {
    .match-list-wrap .match-list-item {
      overflow: hidden;
    }
  
    .match-list-wrap .match-list-item .va-view-wrap {
      display: block;
      width: 150px;
      float: none;
      margin: 0 auto;
    }
  
    .foot-menu-wrap ul li {
      padding-right: 30px;
    }
  
    .copyrights {
      width: 100%;
    }
  
    .match-view-wrap .logo {
      display: none !important;
    }
  
    .match-view-wrap .half {
      width: 37%;
    }
  
    .match-list-wrap .match-list-item .logo {
      display: none !important;
    }
  
    #comments .comment-date {
      position: relative;
      display: block;
      top: 0;
      right: 0;
      padding: 0;
    }
  
    .contact-socials li a {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 480px) {
    .tm-logo span {
      font-size: 22px;
    }
  
    .teamdonate-form .radio-wrap {
      width: 320px;
    }
  
    .va-latest-top:before {
      display: none;
    }
  
    .va-latest-bottom:before {
      display: none;
    }
  
    .trainers-module .name {
      position: relative;
      right: auto;
      clear: both;
      padding: 20px 0 0;
    }
  
    .tm-trainers-slider {
      padding-bottom: 40px;
    }
  
    .our-news-article .img-wrap {
      width: 100%;
    }
  
    .our-news-article .info {
      width: 100%;
    }
  
    .our-news-article .info:before {
      top: 0;
      left: 50%;
      margin-left: -15px;
    }
  
    .foot-menu-wrap ul li {
      padding-right: 30px;
    }
  
    .va-latest-bottom .btn-wrap {
      padding: 0 25px 0 0;
    }
  
    .va-latest-middle .table {
      width: 180px;
    }
  
    .acymailing_module_form .acymailing_introtext {
      width: 100%;
    }
  
    .footer-socials {
      float: left;
      padding-top: 20px;
    }
  
    .copyrights {
      width: 100%;
    }
  
    .uk-breadcrumb {
      margin-left: 0;
    }
  
    .article-single-text table tr th {
      padding: 0;
      text-align: center;
    }
  
    .article-single-text table tr td {
      padding: 0;
      text-align: center;
    }
  }
  